* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

$font: "Ubuntu", sans-serif;;

html {
    scrollbar-width: .5vw;
    scrollbar-color: #333 #000;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .4vw;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #333;
}

@mixin fc($gap) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin fs($gap) {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: $gap;
}

@mixin fcs($gap) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    gap: $gap;
}

@mixin fcc($gap) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

img {
    user-select: none;
}

body {
    font-family: $font;
    background: #141414;
    color: #fff;
}

.link,
.link:visited {
    color: #4aa8ff;

    &:hover {
        text-decoration: underline;
    }
}

aside {
    background: #000;
    overflow-y: auto;
    width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid #333;
    padding: 15px 25px;

    .logo {
        color: #fff;
        font-size: 2rem;
        padding: 10px 0;
        text-align: start;

        span {
            color: #4aa8ff;
        }
    }

    input {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border-radius: 50px;
        border: 3px solid #666;
        background: #fff;
        color: #000;
        margin: 15px 0;
        transition: 300ms;

        &:focus {
            border: 3px solid #4aa8ff;
            outline: none;
        }
    }
}

.dropdown {
    @include fcs(15px);
    margin: 25px 0;

    button {
        cursor: default;
        font-size: 1.3rem;
        font-weight: 900;
        color: #fff;
    }

    .dropdown-content {
        @include fcs(10px);

        a {
            color: #ddd;
            margin-left: 10px;
            transition: 150ms;

            &:hover {
                color: #777;
            }
        }
    }
}

main {
    margin-left: 300px;
}

.hero {
    position: relative;
    width: 100%;
    padding: 15px;
    text-align: center;

    h1 {
        font-size: 3rem;
        padding: 15px;

        span {
            color: #4aa8ff;
        }
    }

    .hero-content {
        background: #222;
        border-radius: 10px;
        width: 100%;
        height: 500px;
    }

    &::after {
        content: '';
        background: #141414;
        border-radius: 50px;
        width: 150px;
        height: 20px;
        position: absolute;
        top: 93%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.data-container {
    @include fs(15px 25px);
    flex-wrap: wrap;
    padding: 15px;

    .data-wrapper {
        cursor: pointer;
        position: relative;
        width: 200px;
        padding: 5px;
        border-radius: 10px;
        overflow: hidden;
        transition: 200ms;

        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            top: -50%;
            right: 50px;
            width: 40%;
            height: 700px;
            background: #4aa8ff;
            animation: glowing 5s linear infinite;
            transform-origin: center;
            opacity: 0;
            transition: 200ms;
        }

        &:hover::before {
            opacity: 1;
        }

        .data {
            @include fcs(0);
            width: 100%;
            background: #222;
            border-radius: 10px;
            overflow: hidden;
            transition: 200ms;
            z-index: 2;

            img {
                width: 100%;
            }

            h3 {
                text-overflow: ellipsis;
                text-wrap: nowrap;
                width: 100%;
                overflow: hidden;
                padding: 10px;
            }

            &:hover {
                box-shadow: 0 0 50px #777;
            }
        }
    }
}

@keyframes glowing {
    0% {
        transform: rotate(0) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.05);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}
.data-page {
    position: relative;
    overflow: hidden;
    @include fcs(15px);
    width: 100%;
    padding: 25px;
    background: #000;
    z-index: 1; 

    .data-background {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .3;
        z-index: -1; 
        pointer-events: none; 
    }

    h1 {
        font-size: 2.8rem;
        font-weight: 400;
        color: #fff;
    }

    .data-info {
        @include fs(15px);

        .data-img {
            @include fcs(15px);
            text-align: start;

            img {
                border-radius: 10px;
                border: 1px solid #555;
            }
        }

        .data-overview {
            @include fcs(15px);
            text-align: start;
        }
    }
    
    .trailer {
        width: 100%;
        z-index: 2;

        iframe {
            aspect-ratio: 16/9;
            border: 2px solid #ccc;
            border-radius: 10px;
            width: 100%;
        }
    }
}


.cast-list {
    @include fs(15px);
    flex-wrap: wrap;
    width: 100%;

    .actor {
        @include fcs(5px);
        background: #333;
        border-radius: 10px;
        overflow: hidden;
        width: 150px;

        img {
            width: 150px;
        }

        h3 {
            color: #4aa8ff;
            font-weight: 400;
            font-size: 1.1rem;
            padding: 5px 5px 0 5px;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            width: 100%;
            overflow: hidden;
        }

        h4 {
            color: #fff;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            width: 100%;
            overflow: hidden;
            font-size: 1rem;
            font-weight: 400;
            padding: 5px 5px 10px 5px;
        }
    }
}

.rating{
    padding: 15px;
    @include fc(0);
    width: 65px;
    height: 65px;
    border: 2px solid #ccc;
    border-radius: 50%;
    font-size: 1.3rem;
}

.skeleton-wrapper {
    width: 200px;
    height: 330px;
    background: transparent;
    border-radius: 10px;
    margin: 10px;
}


.title {
    font-size: 2.5rem;
    color: #4aa8ff;
    margin: 25px 0;
    padding: 0 15px;
}

.subtitle{
    font-size: 1.5rem;
    color: #4aa8ff;
    font-weight: 600;
}

footer {
    background: #000;
    width: 100%;
    text-align: center;
    padding: 25px;

    p {
        font-size: 1.2rem;
        color: #666;
    }
}

.error-page {
    width: 100%;
    height: 100vh;
    @include fcc(25px);

    h2 {
        font-size: 5rem;
        color: #555;
    }

    p {
        font-size: 1.3rem;
    }
}